* {
    margin: 0;
    padding: 0;

    /*Para que el ancho ocupe tanto el border y padding.*/
    /*El valor border-box en el box-sizing hace que el padding 
      y el border pasen a formar parte del cálculo del ancho de 
      la caja y no lo suman posteriormente.*/
    box-sizing: border-box;
}

.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;

    /*La clase form-register es la clase del section, y al poner margin: auto, con el formulario se posiciona al medio.*/
    margin: auto;

    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;    
}

.form-register p {

    height: 40px;
    text-align: center;
    font-size: 18px;

    /*La propiedad CSS line-height establece la altura de una casilla remarcada por 
      líneas. Comúnmente se usa para establecer la distancia entre líneas de texto. 
      A nivel de elementos de bloque, define la altura mínima de las casillas encuadradas 
      por líneas dentro del elemento.*/
    line-height: 40px;
}

.form-register a {

    color: white;
    text-decoration: none;
}

.form-register a:hover {

    color: white;
    text-decoration: underline;
}

.form-register .botons {

    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

